@model IEnumerable<LibraryWeb.Models.BookDto>

<h2>Библиотека</h2>

<div style="display: flex; gap: 20px; height: 600px;">
    <!-- Левая колонка: поиск -->
    @Html.Partial("SearchPanel")

    <!-- Правая колонка -->
    <div style="flex: 1; display: flex; flex-direction: column; border: 1px solid #ccc;">
        @Html.Partial("BooksList", Model)
        @Html.Partial("BookDetails")
    </div>
</div>

@section Scripts {
        <script src="~/js/home.js"></script>
}
